html {
	scroll-behavior: smooth;
	scroll-padding-top: 2rem;
	hyphens: auto;
}

body {
	width: 100%;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
	line-height: 1.4;
	font-family: "Commissioner", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #333;
	background-color: #dfdfdf;
	direction: ltr;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@apply transition-colors;
}

.dark body {
	background-color: #222;
	color: #ddd;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p {
	@apply max-w-2xl mx-auto leading-relaxed my-4;
}
.content em {
	@apply not-italic text-dark-100/60 dark-text-light-100/60;
}
.content .header-anchor {
	@apply text-lg absolute -mx-5  opacity-20;
}
.content h2 {
	scroll-snap-align: start;
	@apply font-bold text-2xl p-1 my-4;
}
.content ul {
	@apply p-4;
}
.content li {
	@apply leading-relaxed py-2 list-circle list-inside;
}
.content hr {
	@apply my-16 bg-dark-100/50 h-1px dark-bg-light-100/50 max-w-xl;
}
.content img {
	scroll-snap-align: start;
	@apply mx-auto rounded-lg shadow-xl my-16;
}
.content img[alt="no-shadow"] {
	@apply shadow-none;
}
.content td {
	@apply p-1;
}

.content tr:nth-child(2n) {
	@apply bg-dark-100/10 dark-bg-light-100/10;
}
.content table {
	@apply border-collapse;
}
.content {
	@apply hyphens-auto break-words;
}

.content a {
	@apply underline;
}
