html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  hyphens: auto;
}

body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 1.4;
  font-family: 'Commissioner', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  background-color: #dfdfdf;
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply transition-colors;
}

.dark body {
  background-color: #222;
  color: #ddd;
}

.content {
  @apply hyphens-auto break-words;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply max-w-2xl mx-auto leading-relaxed my-4;
  }
  em {
    @apply not-italic text-dark-100/60 dark:text-light-100/60;
  }
  .header-anchor {
    @apply text-lg absolute -mx-5  opacity-20;
  }
  h2 {
    scroll-snap-align: start;
    @apply font-bold text-2xl p-1 my-4;
  }
  ul {
    @apply p-4;
  }
  li {
    @apply leading-relaxed py-2;
  }
  hr {
    @apply my-16 bg-dark-100/50 h-1px dark:bg-light-100/50 max-w-xl;
  }
  img {
    scroll-snap-align: start;
    @apply mx-auto rounded-lg shadow-xl my-16;
  }
  img[alt='no-shadow'] {
    @apply shadow-none;
  }
  table {
    @apply border-collapse;
    td {
      @apply p-1;
    }
    tr:nth-child(2n) {
      @apply bg-dark-100/10 dark:bg-light-100/10;
    }
  }
}
